@import "../core/variables";
@import "../core/mixins";

.pageNotFound {
  display: flex;
  flex-direction: column;
  @include center-items;
  height: 100vh;
  background-color: rgb(57, 57, 87);
  color: $fontColor;
  font-family: $mainFont;
  padding: 35px;

  &__404 {
    margin-bottom: 30px;
    letter-spacing: 4px;
    color: aqua;
    @include desktop {
      font-size: 60px;
      margin-bottom: 50px;
    }
  }
  &__message {
    width: 100%;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    text-align: justify;
    @include desktop {
      width: 40%;
      text-align: center;
    }
  }

  &__imgContainer {
    width: 200px;
    margin: 40px 0;
    @include desktop {
      width: 400px;
    }

    &--gif {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__linkHome {
    display: flex;
    @include center-items;
    height: 35px;
    width: 120px;
    border-radius: 20px;
    border: 1px solid rgb(171, 208, 233);
    //background-color: lightgrey;
    color: rgb(171, 208, 233);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(171, 208, 233);
      color: black;
    }
    @include desktop {
      width: 200px;
      height: 40px;
      margin: 20px 0;
      font-size: 20px;
      letter-spacing: 3px;
    }
  }
}
