@import "../core/mixins";
@import "../core/variables";

.main {
  background-color: $backgroundColor;
  display: grid;
  @include center-items;
  padding: 22px 0 86px 0;
  

  @include desktop {
    padding: 70px 0 74px 0;
  }
}
.photosSection {
  display: grid;
  @include center-items;
 

  @include desktop {
    width: 1211px;
    height: 1077px;
    
  }

  &__photosListContainer {
    display: grid;
    @include center-items;
    grid-template-columns: 1fr;
    gap: 55.02px 0px;
    // margin: 0 24px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 31px 16px;
      
     
    }
  }
}
