// Fonts
$robotoFont: "Roboto", sans-serif;
$mainFont: $robotoFont;

// Colors
$grey: #637878;
$headerColor: $grey;
$white: #ffffff;
$fontColor: $white;
$lightGray1: #e5e5e5;
$backgroundColor: $lightGray1;
$lightGray2: #EEEEEE;
$borderColor: $lightGray2;
