@import "../../core/variables";
@import "../../core/mixins";
@import "../../core/animations";

.main-header--scrolled {
  position: fixed;
  z-index: 3;
  display: flex;
  @include center-items;
  width: 100%;
  height: 48px;
  background-color: $headerColor;
  color: $fontColor;
  -webkit-animation: resizeHeaderMobile 0.6s ease;
  animation: resizeHeaderMobile 0.6s ease;

  @include desktop {
    justify-content: flex-start;
    height: 72px;
    -webkit-animation: resizeHeader 0.6s ease;
    animation: resizeHeader 0.6s ease;
  }

  &__title {
    word-spacing: -7px;
    text-transform: capitalize;
    font: normal 400 24px/28.13px $mainFont;
    -webkit-animation: resizeTitleMobile 0.6s ease;
    animation: resizeTitleMobile 0.6s ease;

    @include desktop {
      font-size: 32px;
      line-height: 37.5px;
      word-spacing: -10px;
      margin-left: 32px;
      -webkit-animation: resizeTitle 0.6s ease;
      animation: resizeTitle 0.6s ease;
    }
  }
}
.header {
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  @include center-items;
  height: 64px;
  background-color: $headerColor;
  color: $fontColor;
  -webkit-animation: toOriginalHeaderSizeMobile 0.6s ease;
  animation: toOriginalHeaderSizeMobile 0.6s ease;

  @include desktop {
    justify-content: flex-start;
    width: 100%;
    height: 104px;
    -webkit-animation: toOriginalHeaderSize 0.6s ease;
    animation: toOriginalHeaderSize 0.6s ease;
  }

  &__title {
    font: normal 400 32px/38px $mainFont;
    word-spacing: -7px;
    text-transform: capitalize;
    -webkit-animation: focus-in-expand 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: focus-in-expand 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @include desktop {
      font-size: 48px;
      line-height: 56.25px;
      margin-left: 32px;
      word-spacing: -10px;
    }
  }
}
